.md-main {
  background-color: black !important;
}

body {
  color: white !important;
}

.md-typeset hr {
  border-bottom-color: white !important;
  border-bottom-style: dotted !important;
  border-bottom-width: 0.1rem !important;
}

.md-typeset code, .md-typeset pre {
  color: #36D6AE !important;
}

.md-typeset .codehilite, .md-typeset .highlight {
  background-color: rgba(46, 56 ,66 ,0.6) !important;
}


.md-typeset code, .md-typeset pre {
    background-color: rgba(46, 56 ,66 ,0.6) !important;
}

.md-typeset code {
    box-shadow: .29412em 0 0 rgba(46, 56 , 66 , 0.6),-.29412em 0 0 rgba(46, 56 ,66 ,0.6) !important;
}

.md-nav__link[data-md-state="blur"] {
    color: #36D6AE !important;
}

.md-typeset a > code {
  background-color: rgba(46, 56 ,66 ,0.1) !important;
  color: #36D6AE !important;
}

.md-typeset h1 {
    color: white !important;
}

.md-typeset a {
    color: #36D6AE !important;
}

.md-nav__link:focus, .md-nav__link:hover {
    color: #00896B !important;
}

.md-nav__link--active, .md-nav__link:active {
  color: #36D6AE !important;
}

.md-tabs {
    background-color: black !important;
    text-align: center !important;
}

.md-header {
    background-color: black !important;
}

.md-typeset a:active, .md-typeset a:hover {
    color: #00896B !important;
}

.md-typeset h1[id] .headerlink:focus, .md-typeset h1[id]:hover .headerlink:hover, .md-typeset h1[id]:target .headerlink {
    color: #00896B !important;
}

html body .md-typeset .headerlink {
    color: #36D6AE !important;
}

.md-typeset h5, .md-typeset h6 {
    color: white;
}

.md-typeset blockquote {
    padding-left: 1.2rem;
    border-left: .4rem solid rgba(0,0,0,.26);
    color: rgba(255,255,255,.5);
}

@media only screen and (max-width: 76.1875em)
.md-nav {
    background-color: black;
}

.md-typeset table:not([class]) {
    box-shadow: 0 2px 2px 0 white,0 1px 5px 0 white,0 3px 1px -2px white;
}

.md-typeset table:not([class]) td {
    border-top: .1rem solid white;
    border-left: .05rem solid white;
}

.md-typeset table:not([class]) th {
    background-color: gray;
}
